
<!DOCTYPE html>
<html>
<head>
<title>{{ flatpage.title }}</title>
</head>
<p style="text-align: center;">
    <strong>Добро пожаловать на мою первую страницу.</strong>
</p>
<p style="text-align: center;">
    <strong>🤣😍</strong>
</p>
<p>
    <strong>Здесь я хочу педлится своими успехами обучения.</strong>
</p>
<p style="text-align: right;">
    <em>
        <img style="float: right;" src="600" alt="" />
        <span style="text-decoration: underline;">Мне все нравится.</span>
    </em>
</p>
<p style="text-align: right;">
    <span style="text-decoration: underline;">
        <em>Очень интересно и непонятно xD</em>
    </span>
</p>
<p>Всем пока!</p>
<table style="width: 362px;">
<tbody>
<tr style="height: 54px;">
<td style="height: 54px; width: 117px; text-align: center;">
    <span style="color: #00ff00;"><em><strong>Один</strong></em>
    </span>
</td>
<td style="height: 54px; width: 119.266px; text-align: center;">
    <span style="color: #00ff00;"><em><strong>Два</strong></em></span>
</td>
<td style="height: 54px; width: 100.734px; text-align: center;">
    <span style="color: #00ff00;"><em><strong>Три</strong></em></span>
</td>
</tr>
<tr style="height: 70px;">
<td style="height: 70px; width: 117px; text-align: left;">
    <span style="color: #ff0000;"><strong>Четыре</strong></span>
</td>
<td style="height: 70px; width: 119.266px; text-align: left;">
    <span style="color: #ff0000;"><strong>Пять</strong></span>
</td>
<td style="height: 70px; width: 100.734px; text-align: left;">
    <span style="color: #ff0000;"><strong>Шесть</strong></span>
</td>
</tr>
<tr style="height: 78.4375px;">
<td style="height: 78.4375px; width: 117px; text-align: right;">
    <em><span style="text-decoration: underline;">
        <span style="color: #0000ff; text-decoration: underline;">Семь</span>
    </span></em></td>
<td style="height: 78.4375px; width: 119.266px; text-align: right;">
    <em><span style="text-decoration: underline;">
        <span style="color: #0000ff; text-decoration: underline;">Восемь</span>
    </span></em></td>
<td style="height: 78.4375px; width: 100.734px; text-align: right;">
    <em><span style="text-decoration: underline;">
        <span style="color: #0000ff; text-decoration: underline;">Девять</span>
    </span></em></td>
</tr>
</tbody>
</table>